---
// @ts-ignore
import { Icon } from "src/assets/icons";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500"></h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <!-- Replace the <Icon> tags with <img> tags pointing to your own icons -->
     <a href="https://prosettings.net/teams/team-spirit/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem ;" class="size-10 md:size-100" src="src/assets/icons/spirit.png"  alt="绿龙"/>
     </a>

     <a href="https://prosettings.net/teams/team-vitality/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem;"class="size-8 md:size-12" src="src/assets/icons/小蜜蜂.png" alt="Icon 2" />
    </a>

    <a href="https://prosettings.net/teams/faze-clan/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem;"class="size-8 md:size-12" src="src/assets/icons/faze.png" alt="Icon 3" />
    </a>

    <a href="https://prosettings.net/teams/g2-esports/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem;"class="size-8 md:size-12" src="src/assets/icons/G2.png" alt="Icon 4" />
    </a>

    <a href="https://prosettings.net/teams/natus-vincere/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem;"class="size-8 md:size-12" src="src/assets/icons/navi.png" alt="Icon 5" />
    </a>
    <a href="https://prosettings.net/teams/virtus-pro/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem;"class="size-8 md:size-12" src="src/assets/icons/vp.png" alt="Icon 6" />
    </a>

  </div>
</div>
